section.about
    .about__details
        h2.about__title.section-title О компании
        p.about__description.section-text У нашей компании уникальный продукт. Вино всегда ассоциируется с радостью общения и азартом новых открытий. Оно связано с отличной гастрономией и путешествиями, с историей и культурой разных народов.
        p.about__description.section-text Один из наших главных принципов — выбор поставщиков, создающих бескомпромиссно качественный продукт. Это хозяйства с высокими рейтингами, которые пользуются уважением экспертов во всем мире и могут увлечь своими винами любого потребителя.

        a(href="" target="_self").about__link.section-link Подробнее о нас
    ul.about__list
        li.about__list-item
            picture
                source(srcset="static/images/content/about-1.webp 1x, static/images/content/about-1_2x.webp 2x" type="image/webp")
                img(src="static/images/content/about-1.jpg" width="" height="" alt="about-image")
            picture
                source(srcset="static/images/content/about-3.webp 1x, static/images/content/about-3_2x.webp 2x" type="image/webp")
                img(src="static/images/content/about-3.jpg" width="" height="" alt="about-image")
        li.about__list-item
            picture
                source(srcset="static/images/content/about-2.webp 1x, static/images/content/about-2_2x.webp 2x" type="image/webp")
                img(src="static/images/content/about-2.jpg" width="" height="" alt="about-image")
            picture
                source(srcset="static/images/content/about-4.webp 1x, static/images/content/about-4_2x.webp 2x" type="image/webp")
                img(src="static/images/content/about-4.jpg" width="" height="" alt="about-image")