section.history
    h2.history__title.section-title История
    p.history__description.section-text История компании Simple началась в 1994 году, когда два молодых предпринимателя, Максим Каширин и Анатолий Корнеев, объединили усилия и основали виноторговую компанию.
    a(href="history.html" target="_self").history__link.section-link Об истории Simple

    .history__visual
        picture.history__frame
            source(media="(min-width: 768px)" srcset="static/images/content/history-lg.webp 1x, static/images/content/history-lg_2x.webp 2x" type="image/webp")
            source(media="(min-width: 768px)" srcset="static/images/content/history-lg_2x.jpg")
            source(srcset="static/images/content/history-sm.webp 1x, static/images/content/history-sm_2x.webp 2x" type="image/webp")
            img(src="static/images/content/history-sm_2x.jpg" width="" height="" alt="").history__frame-image
        span.history__caption Открытие винного бара Crand Cru