section.social-video
    h2.social-video__title.section-title Simple — не просто вино

    .social-video__wrapper
        button(type="button").social-video__play
            svg
                use(xlink:href="static/images/sprite/symbol/sprite.svg#yt")
        .social-video__player#ytPlayer
    ul.social-video__tags
        li.social-video__tags-item #simple
        li.social-video__tags-item #simplewine
        li.social-video__tags-item #simplewinenews
        li.social-video__tags-item #навсехфотосбокалом