extends layout/about

block variables
	-var title = 'О нас | Simple Group'
	-var pageType = 'content--about'
	//- Переменные для intro блока
	-var introName = 'О нас'
	-var introType = ''
	-var breadList = [{href: 'index.html', text: 'Главная'}, {href: '', text: 'О нас'}]
	-var introBg = 'about-bg'
	//- Переменные для контентнтого блока
	-var textSpans = ['Богатый ассортимент лучших вин, крепких спиртных и безалкогольных напитков, профессиональных бокалов и аксессуаров, максимальный охват категорий и стилей на любой вкус и бюджет, а также отлаженный в течение долгих лет работы на российском рынке сервис команды Simple — вот что мы предлагаем нашим бизнес-партнёрам, частным клиентам и самому широкому кругу любителей вина.']
	-var wrapTitle_1 = 'Философия'
	-var wrapList = true
	-var wrapList_1 = ['Группа компаний Simple сегодня:', 'Крупный винный потрфель с более чем 5000 вин.', 'Тренды. Мы следим за мировыми тенденциями, расширяя ассортимент вина и крепких напитков.', 'Ассортимент. Отборные продукты лучших компаний мирового винного и крепкого алкогольного рынка', 'Ответственность. Многие наши поставщики - лидеры экологического движения, использующие органические и биодинамические методы.', 'Все про вино. Профессиональная посуда и аксессуары важны для винного сервиса. Обеспечим все необходимое для наших клиентов.']
	-var wrapVideo = '841788413?h=53f3cb0155'
	-var restaurant = {image: 'simple-logo-lg', name: '', link: '', address: ''}
	-var wrapFacts = true
	-var factsItem = [{nr: '№1', text: 'по импорту тихих вин*'}, {nr: '№1', text: 'по импорту профессионального стекла*'}, {nr: '№1', text: 'по импорту портвейнов, хереса и саке*'}, {nr: '№2', text: 'по импорту шампанского*'}]
	-var factsNote = '*Данные таможенной статистики за 2021 год'
	-var link = true
	-var link_1 = 'Подробнее о философии'
	//- Переменные для списка команды
	-var teamList = [{name: 'Максим Каширин', image: 'team-1', position: 'Основатель и президент Simple Group'}, {name: 'Анатолий Корнеев', image: 'team-2', position: 'Основатель и вице-президент Simple Group'}]