extends layout/assortment

block variables
	-var title = 'Ассортимент | Simple Group'
	//- Переменные для intro блока
	-var introName = 'Ассортимент'
	-var introType = ''
	-var breadList = [{href: 'index.html', text: 'Главная'}, {href: '', text: 'Ассортимент'}]
	-var tabletSizeNeeded = true
	-var introBg = 'assortment-bg'
	//- Переменные для контентнтого блока
	-var textSpans = ['Добро пожаловать в мир разнообразия от Simple! В разделе вина — 450 производителей из 45 стран, богатый выбор крепких напитков, стекло и аксессуары, безалкогольные напитки — разнообразие воды, соков и микс-дринков.']
	-var grid = true
	-var gridType = 'content__list--links'
	-var gridItems_1 = [{link: 'wines.html', name: 'Вино', image: 'sort-1', theme: '450+ производителей из 45 стран, включая Louis Roederer, Penfolds, Guigal и другие.'}, {link: 'strong.html', name: 'Крепкие напитки', image: 'sort-2', theme: 'Simple Spirits — ведущий импортер премиальных крепких напитков'}, {link: 'non-alco.html', name: 'Безалкогольные напитки', image: 'sort-3', theme: 'Simple Waters — развитие культуры безалкогольных напитков: вода, соки, микс-дринки.'}, {link: 'accesories.html', name: 'Стекло и аксессуары', image: 'sort-4', theme: 'Винные аксессуары для истинных ценителей: стекло, штопоры, термометры и многое другое.'}]