extends layout/grandcru

block variables
	-var title = 'Grand Cru | Simple Group'
	-var pageType = 'content--gc'
	//- Переменные для intro блока
	-var introName = 'Grand Cru'
	-var introDescription = 'Рестораны'
	-var introBg = 'gc-bg'
	-var introType = 'intro--menu intro--gc'
	-var breadList = [{href: 'index.html', text: 'Главная'}, {href: 'about.html', text: 'О нас'}, {href: '#', text: 'Структура'}, {href: 'restaurants.html', text: 'Рестораны'}, {href: '', text: 'Grand Cru'}]
	-var introLinks = [{link: 'grandcru.html', name: 'Grand Cru', type: 'active'}, {link: 'simplebar.html', name: 'Simple Bar', type: ''}]
	//- Переменные для контентного блока
	-var wrapTitle_1 = 'Синергия ресторана и винного бутика'
	-var wrapSpans = ['Ресторан Grand Cru, получивший звезду Гида MICHELIN Москва в издании 2022 года, открыт компанией Simple ещё в 2006 году. По меркам Москвы это заведение с огромной историей, его называют патриархом Патриарших.', 'Шеф-повар Давид Эммерле называет себя wine minded chef: блюда menu a la carte и блюда дегустационного меню всегда строятся вокруг вина.', 'Сердце проекта и его кровеносная система — великолепная винная коллекция. 1200 позиций вин, из которых минимум 70 по бокалам, профессиональная экспертиза кавистов и вертикальная коллекция вин трижды сделали Grand Cru обладателем «Двух бокалов» от эталонной винной премии Wine Spectator.']
	-var restaurant = {image: '123', name: 'Grand Cru', link: 'https://grandcru.ru/', address: 'г. Москва, улица Малая Бронная, дом 22, строение 2'}
	-var wrapVideo = '709459496?h=e8b52f8d1a'
	-var wrapVideoCaption = 'Grand Cru: новая высокая кухня from Simple on Vimeo'
	-var wrapText = true
	-var wrapText_1 = ['С вином в Grand Cru работают шесть сомелье и шеф-сомелье Павел Кравченко — обладатель награды «Лучший сомелье России». Управляющий директор ресторана — Татьяна Манн-Пахмутова, председатель жюри 50 World’s Best Vineyards (по Восточной Европе).', 'Официальный партнер ресторана — ферма М2 на Рузе. Мясо, сыры и овощи имеют европейские органические сертификаты EcoGlobe.']
	-var slider = 'grandcru-slider'
	-var sliderSlides = [{name: 'cru-1', image: 'cru-1'}, {name: 'cru-2', image: 'cru-2'}, {name: 'cru-3', image: 'cru-3'}]
	-var reviews = [{title: 'Атмосфера', text: '«Винный ресторан Grand Cru остается местом для тех, кто хочет и любит вдумчиво выпить. Камерная, почти домашняя атмосфера — то, к чему я стремился, создавая Grand Cru. Если вы хотите быть на передовой винного мира, однозначно не стоит пропускать ни одного проводимого здесь эногастрономического ужина.', name: 'Максим Каширин, президент Simple Group'}, {title: 'Wine minded', text: 'Быть wine minded — значит быть ориентированным на вино, сложнейший продукт по восприятию в нёбе, очень богатый, очень капризный, который открывается не каждому. Чтобы действительно любить и понимать вино, требуется и ум, и образование. Вино стоит денег, но оно делает тебя богаче. Вино диктует условия. Оно и сотрудничает с шефом, и конкурирует с ним, с вином не бывает скучно. Это непросто, это вызов, но если все получится, то это двойная удача. Сейчас все складывается красиво и правильно. Я сам в полном смысле wine minded chef, и мне бесконечно интересно готовить для таких гостей, в ресторане с таким концептом. Давид Эммерле', name: 'Давид Эммерле'}]
	//- Переменные для цитаты
	-var quoteText = 'Еда будущего – это легкость, изящество и польза!'
	-var quoteAuthor = 'Давид Эммерле'
	-var quotePosition = 'Бренд-шеф ресторана Grand Cru'