extends layout/main

block variables
	-var title = 'Simple Group'
	-var introType = 'intro--index'
	-var introName = 'Группа компаний Simple'
	-var introDescription = 'Почти 30 лет на рынке. Один из ведущих импортеров алкогольной продукции в России, национальный дистрибьютор и ритейлер.'
	-var introVideo = 'intro-video'
	-var introBg = 'main-intro'
	-var newsList = [{link: 'news-1.html', name: 'Интервью Максима Каширина Александру Соколовскому', newsImage: 'news-1', tag: 'Новости', datetimeFull: '2023-08-03', datetime: '5 июля 2023'}, {link: 'news-2.html', name: 'SimpleWine – победитель в номинации «Винотеки и магазины компаний-импортёров» на Wine Retail Week', newsImage: 'news-2', tag: 'Новости', datetimeFull: '2023-07-21', datetime: '21 июня 2023'}]
	-var partnersList = [{link: '', name: 'aeroflot', image: 'part-1'}, {link: '', name: 'mmoma', image: 'part-2'}, {link: '', name: 'gmii', image: 'part-3'}, {link: '', name: 'teatr-naciy', image: 'part-4'}, {link: '', name: 'mri', image: 'part-5'}, {link: '', name: 'sila-vetra', image: 'part-6'}, {link: '', name: 'smart', image: 'part-7'}, {link: '', name: 'sample', image: 'part-8'}]
	-var pageType = 'content--index'
	-var grid = true
	-var gridType = 'content__list--links'
	-var gridItems_1 = [{link: 'services.html', name: 'Услуги', image: 'link-1', theme: 'Для B2B и B2C клиентов'}, {link: 'projects.html', name: 'Проекты', image: 'link-2', theme: 'Формируем винную культуру'}, {link: 'assortment.html', name: 'Ассортимент', image: 'link-3', theme: 'Портфель Simple'}]
