extends layout/restaurants

block variables
	-var title = 'Рестораны | Simple Group'
	-var pageType = 'content--restaurants'
	//- Переменные для intro блока
	-var introType = ''
	-var introName = 'Рестораны'
	-var introBg = 'rest-bg'
	//- Переменные для контентнтого блока
	-var textSpans = ['Мы выбрали концепцию ресторана при винотеке, чтобы подарить вам выбор из более чем 1200 вин без ресторанных наценок.', 'Разобраться в многообразии нашей «живой» карты вин помогают кависты и сомелье, которые говорят с вами на одном языке и легко находят «то самое» вино.', 'С 2019 года начал работу Simple Bar в гастропространстве Черемушкинского рынка. Гостям предлагается барная карта с проверенными винными хитами, классикой, громкими новинками, а также авторскими коктейлями.']
	-var wrapTitle_1 = 'Направления'
	-var wrapSpans = ['В мире Simple вы найдете уникальные ресторанные пространства - ресторан Grand Cru и Simple Bar, предлагающие утонченные впечатления и выдающиеся гастрономические и винные впечатления.']
	-var grid = true
	-var gridType = 'content__list--images'
	-var gridItems_1 = [{link: 'grandcru.html', name: 'Grand Cru', image: 'rest-1', theme: ''}, {link: 'simplebar.html', name: 'Simple Bar', image: 'rest-2', theme: ''}]
	//- Переменные для списка команды
	-var teamList = [{name: 'Татьяна Манн', image: 'team-3', position: 'Управляющий директор ресторанами и барами Simple Group'}, {name: 'Давид Эммерле', image: 'team-4', position: 'Бренд-шеф ресторана Grand Cru'}]
	-var breadList = [{href: 'index.html', text: 'Главная'}, {href: 'about.html', text: 'О нас'}, {href: '#', text: 'Структура'}, {href: '', text: 'Рестораны'}]
	-var quoteText = '«Философия Давида Эммерле строится на главенстве вкуса. Гостей ресторана ждет оригинальная интерпретация высокой кухни. Обладатель фундаментального кулинарного образования, бренд-шеф Grand Cru стремится выходить за рамки классического представления о французской гастрономии. Он мастерски переносит на свою кухню дух стран, в которых жил и работал. Мастер эссенций из различных ингредиентов, Эммерле дает новое прочтение еде, используя пряные травы и сразу несколько соусов в одном блюде. Давид окончил кулинарную школу Adrien Zeller под Страсбургом. В последующие годы его наставниками были такие именитые шеф-повара как Мишель Дель Бурго, Лоран Пурсель и Янник Аллено.»'
	-var quoteAuthor = 'Давид Эммерле'
	-var quotePosition = 'Бренд-шеф ресторана Grand Cru'