extends layout/services

block variables
	-var title = 'Услуги | Simple Group'
	-var pageType = 'content--services'
	//- Переменные для intro блока
	-var introName = 'Услуги'
	-var breadList = [{href: 'index.html', text: 'Главная'}, {href: '', text: 'Услуги'}]
	-var introType = ''
	-var introBg = 'service-bg'
	//- Переменные для контентнтого блока
	-var textSpans = ['Группа компаний Simple — один из ведущих импортеров алкогольной продукции в России, национальный дистрибьютор и ритейлер.']
	-var wrapTitle_1 = 'B2B-продажи'
	-var wrapTitle_2 = 'B2C-продажи'
	-var wrapNr = true
	-var wrapList = true
	-var wrapList_1 = ['Семь офисов в ключевых регионах страны и широкая дистрибьюторская сеть по всей территории Российской Федерации от Южно-Сахалинска до Калининграда.', 'Современная отлаженная логистика: лицензированные склады, собственный транспорт на территории России и служба доставки.', 'Мировой опыт и экспертиза на ежегодной конференции Simple Congress, программы обучения для наших партнеров, авторские образовательные курсы и преддипломная подготовка по системе WSET в <a href="" target="_self">школе вина «Энотрия»</a>.', 'Cтабильное партнерство с ключевыми игроками в каналах HoReCa и Retail.']
	-var wrapList_2 = ['Постоянно растущая сеть винотек SimpleWine в удобных локациях в Москве, Санкт-Петербурге, Ростове-на-Дону, Сочи и Екатеринбурге. В каждой из винотек представлены популярные вина, крепкие спиртные и безалкогольные напитки, аксессуары и стекло из ассортимента Simple.', 'Интернет-витрина <a href="https://www.simplewine.ru" target="_self">simplewine.ru</a> с персонализированным интерфейсом и комфортным поиском по всему ассортименту продукции, регулярными акциями и спецпредложениями.', 'Закрытый винный клуб SimpleWine Privé для частных клиентов, создание концепции винной коллекции, оборудование помещений для хранения вина, организация винных туров и экспертных дегустаций' ,'Нон-стоп винное образование: дегустации в винотеках, винные фестивали и самая обширная библиотека статей и книг о вине на русском языке от собственного издательского дома.']
	-var grid = true
	-var link = true
	-var link_1 = 'Подробнее о B2B'
	-var link_2 = 'Подробнее о B2C'
	-var gridType = 'content__list--images'
	-var gridItems_1 = [{link: 'horeca.html', name: 'HoReCa', image: 'serv-1', theme: ''}, {link: 'retail.html', name: 'Retail', image: 'serv-2', theme: ''}, {link: 'distribution.html', name: 'Дистрибуция', image: 'serv-3', theme: ''}, {link: 'franchise.html', name: 'Франшиза', image: 'serv-4', theme: ''}]
	-var gridItems_2 = [{link: 'ownmarket.html', name: 'Собственная розница', image: 'serv-5', theme: ''}, {link: 'online.html', name: 'Онлайн-витрина', image: 'serv-6', theme: ''}, {link: 'private.html', name: 'Частные клиенты', image: 'serv-7', theme: ''}, {link: 'corporate.html', name: 'Корпоративные клиенты', image: 'serv-8', theme: ''}]
	