- var fooNavLinks = [{name: 'Портфолио', link: '#portfolio'}, {name: 'Услуги', link: '#services'}, {name: 'Калькулятор', link: 'calculator.html'}, {name: 'Рейт-карта', link: '#rates'}, {name: 'Контакты', link: '#contacts'}]

footer.footer
    